<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- body %>
    <footer>&#169;2016 by Jiyang</footer>
    <script src="https://use.fontawesome.com/e32b0035ee.js"></script>
  </body>
</html>

